// *************************** Document settings ************************
.inner-wrapper{
//width:$interior-width;
background-color:#fff;
}

.header-container{
height:137px;
}

// ***************************  Typography ***********************
.error{
color: $errorColor;
}

.warning{
color:$warningColor;
}

// ***************************  Header ***********************


// ***************************  Footer ***********************


// ***************************  Main Container ***********************