// IE 6,7,8
.lt-ie9{
	
	.span1,.span2,.span3,.span4,.span5,.span6,.span7,.span8,.span9,.span10,.span11,.span12{
	display: block;
	margin-bottom: 20px;
	float:left;
    margin:0 1.06385%;
    padding: 1.06385%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    }
	.span1 {
	    width: 6.20563%;
	}
	.span2 {
	    width: 14.539%;
	}
	.span3 {
	    width: 22.8723%;
	}
	.span4 {
	    width: 31.2056%;
	}
	.span5 {
	    width: 39.539%;
	}
	.span6 {
	    width: 47.8723%;
	}
	.span7 {
	    width: 56.2056%;
	}
	.span8 {
	    width: 64.539%;
	}
	.span9 {
	    width: 72.8723%;
	}
	.span10 {
	    width: 81.2056%;
	}
	.span11 {
	    width: 89.539%;
	}
	.span12 {
	    width: 97.8723%;
	}
}

// IE 6,7
.lt-ie8{
	
}

// IE 6
// Wouldn't worry too much about this one
.lt-ie7{
	
}